a {
    color: black;
}

.header {

    display: flex;
    flex-flow: column;

    padding: 30px 60px 30px 60px;
    border-bottom: 1px solid #e5e5e5;
}

.header .header__top {
    display: flex;
    justify-content: space-between;
}

.header .header__top .login-bag {
    font-family: RobotoRegular;
    width: 210px;
    display: flex;


}

.bag-wrap {
    display: flex;
    flex-flow: row;
}

.header .header__top .login-bag .name-bag {}

.header .name-site {
    font-family: OpenSansBold;
    font-size: 32px;

}

.header .name-site:hover {
    color: #f14a58;
}

.header .email .email__link {
    font-family: RobotoRegular;
    text-decoration: none;
    color: black;
}

.header .img-bag {
    width: 13px;
    height: 13px;
}

.header .bag__count {}

 .hamburger-menu {
     width: 100%;    
    display: flex;
     justify-content: space-between;
    align-content: center;
}
.header__bottom{
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.header .menu {
    list-style-type: none;
    display: flex;
    flex-flow: row;
    width: 100%;
    justify-content: space-around;
    padding-left: 0px;



}

.header .menu_item {}

.header .menu__link {
    font-family: OpenSansBold;
    text-decoration: none;
    color: black;
}

.menu__link:hover {
    color: #f14a58;
}

.header .search {

    display: flex;
}

.header .search__input {
    width: 160px;
    border: none;
    background-image: url("../img/header/ico-search.png");
    background-repeat: no-repeat;
   
    background-position: 140px;
    border-bottom: 2px solid #e5e5e5;

    font-family: OpenSansBold;
}

.header .search__input:focus {
    background-image: none;
}
#menu__toggle{
    display: none;
}
@media (max-width: 375px) {
    .header {
        padding: 15px;
    }

    .email__link {
        display: none;
    }

    .name-site {
        color: white;
    }

    
    .name-site:after {
        color: black;
        content: "TL";
        position: absolute;
        left: 15px;
    }

    .header .name-site:hover {
        color: white;
    }
 
    .search{
        display: none!important;
    }
    .header .header__top .login-bag {
        width: auto;
    }

    
    
    
    
    #menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu {
  visibility: visible;
  left: 0;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 40px;
  right: 20px;

  width: 26px;
  height: 26px;

  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: flex;
  position: absolute;
  width: 100%;
  height: 2px;

  background-color: #616161;

  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 6px;
}

.menu {
  display: flex;
flex-flow: column!important;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;

  width: 300px;
  height: 100%;

  margin: 0;
  padding: 0px 0;

  list-style: none;

  background-color: white;
 

  transition-duration: .25s;
}

.menu_item {
  display: flex;
    padding-left: 10px;
  color: #333;

  font-family: OpenSansBold;
  font-size: 18px;
  text-decoration: none;
  transition-duration: .25s;
}
.menu_item:hover {
    color: #f14a58;
    cursor: pointer;
}
    .login-bag{
        z-index: 2;
    }
    
    
    
    
}
